@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านขนมออนไลน์ที่เล็กที่สุดในหมู่บ้านปลาหมึก</p>
    <img src="/images/logo.jpg" width="50%">
</div>
